@charset "utf-8";
@import "./reset.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    padding: 60px 0;
}

nav ul li {
    text-align: center;
    color: rgb(5, 79, 54);
    background-color: bisque;   
}

